<!--<div class="jumbotron">-->
  <!--<h1>'Allo, 'Allo!</h1>-->
  <!--<p class="lead">-->
    <!--<img src="images/yeoman.png" alt="I'm Yeoman"><br>-->
    <!--Always a pleasure scaffolding your apps.-->
  <!--</p>-->
  <!--<p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>-->
<!--</div>-->
<div class="row marketing">
  <div class="list-group-item" ng-repeat="store in stores">
    <h4>{{store.name}}</h4>
    <div>{{store.location}}</div>
    <div>{{store.category}}</div>
    <div>{{store.owner}}</div>

  </div>

</div>
